@using BackgroundWorkingWithMVC.Application.Models;
@model IEnumerable<CategoryViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@foreach (var item in Model)
{
    <span><b>@item.Name</b></span>
    <br />
}